* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0;
    padding: 0;
}

header {
    width: 100vw;
    height: 100vh;
}

.logonav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 50px;
}

.foodapp {
    text-align: center;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
}