* {
    box-sizing: border-box;
    font-size: 20px;
}

body {
    margin: 0;
    padding: 0;
}

header {

    height: 100vh;
}

.logonav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 50px;
}

.foodapp {
    height: 100vh;
    display: flex;
    flex-direction: column;

    text-align: center;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
}

.label {
    margin-top: 50px;
}

.label, .foodapp_download {
    font-size: 25px;
}

.foodapp_text {
    font-size: 50px;
    font-weight: bold;
}

.foodapp_download {
    margin-bottom: 20px;
}

.button_foodapp {
    z-index: 10;
}

.playstore, .app_store {
    margin: 0 20px;
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 30px;
    color: white;
    transition: 1s;

}

.playstore {
    border: 1px solid orangered;
    background: orangered;
}
.app_store {
    background-color: transparent;
    border: 1px solid white;
}

.playstore:hover {
    background: white;
    color: orangered;
    transform: 1s;
}

.app_store:hover {
    background-color: orangered;
    transform: 1s;
}





main {
    text-align: center;
    position: relative;
}

.phones_images {
margin-top: -250px;
}

.app_work_title {
    margin: 0;
    font-size: 25px;
}

.app_work_title::before {
    display: block;
    height: 2px;

    position: absolute;
    left: 100px;
    right: 100px;

    margin-top: -50px;

    content: " ";
    background-color: gray;
}

.app_work {
    margin: 0 10%;
}

.create_acc {
    margin-left: -5%;
    margin-right: 10%;
}
.explore_varieties {
    margin-right: -5%;
}

.create_acc, .explore_varieties{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.create_acc_info {
    text-align: left;
}

.bnt_reg {
    color: orangered;

    text-decoration: none;
}

.bnt_reg:hover {
    text-decoration: underline;
}

.title_create_acc {
    font-size: 25px;
}

.text_app_work {
    color: #B9B9B9;
}