* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

header {
    width: 100vw;
    height: 100vh;
    background-color: aqua;
}

.logonav {
    display: flex;
    margin: 0 50px;
    justify-content: space-between;
    align-items: center;

    position: absolute;

    top: 0;
    left: 0;
    right: 0;
}
